<!DOCTYPE html>
<html>
<head>
  <title>TheBase64Encoder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="google-site-verification" content="QfDZQKzX-s_FAHTC6FBswIZg8I2zY0Za_vcoqKtmSd0" >
</head>
<body>

<%= yield %>

</body>
</html>
